<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Books</title>
  </head>
  <body>
    <div class="container">
      <h1>Book Shop</h1>
      <div>
        <nav class="navbar navbar-expand-sm bg-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-light" href="/home">Home</a>
            </li>
          
          
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-light" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/register">Register</a>
            </li>
          </ul>
        </nav>
      </div>

      <!--  -->

      <div class="mt-5 ml-5 mr-5 mb-5">
        
         
        <% if(msg) {%>
          <div class="alert alert-danger" role="alert">
            <%= msg %>
          </div>
        <%} %>
          


        <form action='/register' method="POST">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required >
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter Phone Number" required>
          </div>
  
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" required>
          </div>
  
          <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" required>
          </div>
  
          <div class="form-group">
            <label for="state">State</label>
            <input type="text" class="form-control" id="city" name="state" placeholder="Enter State" required>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="city" name="country" placeholder="Enter Country" required>
          </div>
  
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder=" Minimum 6 character" required>
          </div>
  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

       
    </div>
  </body>
</html>
